.caroussel-container {
	width: 80%;
	margin: 0 20%
}

li a {
	color: #07509d;
	font-weight: bold;
}

.dropdown-menu button {
	color: #07509d;
	font-weight: bold;
}
.login-btn{
	background-color: #07509d ;
	width: 40%;
	margin:auto;
}
.register-button{
	background-color: #07509d ;
	width: 40%;
	margin: 0 165px 20px;
}